---

import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro";

export const getStaticPaths = (() => {
    // Hardcoded article data for demonstration purposes
    const articles = [
        {
            id: 1,
            title: "learning-javascript",
            content: "This is an article covering the basics of JavaScript"
        },
        {
            id: 2,
            title: "the-basics-of-python",
            content: "Python is a dynamically typed programming language"
        },
    ];
    return articles.map((article) => ({
        params: {
            id: article.id, title: article.title,
        },
        props: {
            article,
        },
    }));
}) satisfies GetStaticPaths;

const { id, title } = Astro.params;
const { article } = Astro.props;
---

<Layout pageTitle={article.title}>
    <h1>{`${id}-${title}`}</h1>
    <p>{article.content}</p>
</Layout>
