---
import Layout from "../../layouts/Layout.astro";

// Pretend articles are fetched from a backend database with an API call
const articles = [
    {
        id: 1,
        title: "Learning Javascript",
        slug: "learning-javascript",
        content: "This is an article covering the basics of JavaScript"
    },
    {
        id: 2,
        title: "The Basics of Python",
        slug: "the-basics-of-python",
        content: "Python is a dynamically typed programming language"
    },
];
---

<Layout pageTitle="Articles">
    <h1>Articles</h1>
    <section>
        {
            articles.map((article) => (
                <p>
                    <a href={`/articles/${article.id}-${article.slug}`}>
                        {article.title}
                    </a>
                </p>
            ))
        }
    </section>
</Layout>