---
import UserPanel from "../components/UserPanel.astro";
import Layout from "../layouts/Layout.astro";

// script section or code fence
const pageTitle = "Astro Demo";

const pages = ["Home", "Blog", "About us", "Contact us"];

// hard coded data User object, but we could retrieve a user session from
// our authentication provider, decode a JWT token, or read cookies.
const currentUser = {
  name: "John Doe",
  isAdmin: true,
};
---

<!-- template section -->
<Layout pageTitle={pageTitle}>
  <h1>Astro</h1>
  <button>Click me</button>
  {pages.map((page) => (
      <li>{page}</li>
  ))}
  <UserPanel userName={currentUser.name} isAdminUser={currentUser.isAdmin} />
</Layout>

<script src="../scripts">
</script>
<script is:inline src="/external-script.js" defer></script>