---
import BaseLayout from "../layouts/BaseLayout.astro";

---

<BaseLayout>
  <h1>Index page</h1>
  <p>
	Astro is a new kind of static site builder that delivers lightning-fast performance with a modern developer experience.
  </p>
</BaseLayout>
